@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #001615;
  color: #fff;
}
/* *{ transition:all .5s !important;}*/

/* Works on Firefox */
*{scrollbar-width:thin; scrollbar-color:#14A99C #000;}
*::-webkit-scrollbar {width:10px;}
*::-webkit-scrollbar-track {background:#000;}
*::-webkit-scrollbar-thumb {background-color:#14A99C; border:0; border-radius:8px;}

.container {max-width: 100% !important; margin: 0 100px; width: auto;}

.border-before{
  position: relative;
}
.border-before:before{
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  left: -40px;
  z-index: 0;
  border: 1.5px dashed #14A99C;
}


.use-before{
  position: relative;
}

.use-before::before{
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: -50px;
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 99;
}

.line-before:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 1px;
  background: #14A99C;
  z-index: 99;
}

header { position: fixed;top: 0; width: 100%;background-color: #001615;z-index: 999;}
header .container {border-bottom: 1px solid rgba(255, 255, 255, 0.12); padding: 16px 0;}
header nav ul {border:1px solid rgba(255, 255, 255, 0.08); height: 56px; padding: 10px 0; border-radius: 36px; background: rgba(255, 255, 255, 0.02);}
header nav ul li .main-nav {line-height: 36px; height: 36px; border-radius: 36px; padding: 8px 14px;}
header nav ul li .main-nav:hover, header nav ul li .main-nav.active {background: linear-gradient(102.8deg, rgba(59, 238, 226, 0.1) 0.29%, rgba(5, 161, 148, 0.07) 98.5%); color:#23BBAD;}
header nav ul li .main-nav i {background: url('../images/icons/icon-arrow-down.svg') no-repeat; background-size: 100%; width: 11px; height: 7px; margin-left: 4px; display: inline-block; vertical-align: middle;}
header nav ul li .main-nav:hover i {background: url('../images/icons/icon-arrow-down-a.svg') no-repeat;}
header nav ul li .main-nav.active i {background: url('../images/icons/icon-arrow-down-a.svg') no-repeat; background-size: 100%; width: 11px; height: 7px; margin-left: 4px; display: inline-block; vertical-align: middle;}

.submenus {padding: 34px 0 0 0;z-index: 9; position:absolute; left:-260px; width:1180px;height: 600px; box-shadow: 0px 60px 30px 0 rgba(0, 0, 0, 0.15);}
.submenus .cont {width:100%; background:#fff; padding: 24px;}
.submenus .cont ul li { padding: 8px 16px;}
.submenus .cont ul li:hover { background:#F6F6F6;border-radius: 12px;}
.smdiv1, .smdiv2, .smdiv3, .smdiv4, .smdiv5, .smdiv6, .smdiv7 {display:none;}

.menu {cursor:pointer; display:none; position:absolute; width:30px; right:24px; top:24px;}
.menu .bar {background:#23BBAD; height:2px; width:100%; display:block; margin:6px 0;}
.menu .bar1 {background:#23BBAD; height:2px; width:50%; display:block; left:0;}
.menu .bar2 {background:#23BBAD; height:2px; width:50%; display:block; right:0; position:absolute;}
.menu:hover .bar1 {width:100%;}
.menu:hover .bar2 {width:100%;}

.mobmenucont {position:fixed; top:0px; left:-85%; width:85%; z-index:999999; height:100%; background:#000; overflow-y:auto;}
.mlogo img {height:42px;}
.bgm {position:fixed; top:0px; left:0px; width:100%; min-height:100%; height:100%; background:rgba(0,0,0,0.9); z-index:99999; display:none; /*backdrop-filter: saturate(180%) blur(10px); -webkit-backdrop-filter:saturate(180%) blur(10px);*/}
.bgm::before {content:"X"; position:absolute; top:12px; right:15px; color:#23BBAD; font-size:22px; font-weight:300;}
.mobilemenucontent {margin:0; padding:0;}
.closemmenu {cursor:pointer;}

.p-txt {color:#666D80;}
.p-head {color:#0D0D12;}

.v-frame {background: url('/assets/images/icons/frames/video_frame.png') no-repeat 0 0; background-size: cover; border-radius: 2rem; position: relative;}


@media (max-width:1110px){
  header nav, .tp-btns {display: none;}
  .menu {display:block;}
}
  @media (max-width:1023px){
  .container {margin: 0 24px;}
}

.owl-carousel .owl-item img {
  width: 48px;
}

.owl-carousel .owl-item img.rounded-2xl.w-full{
  width: 100% !important;
}
.owl-carousel .owl-item a>img{
  width: 24px !important;
}


.inside-shadow::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  box-shadow: 86px 0 1000px 230px rgba(0, 22, 21, 1);
  z-index: 99;
}
.inside-shadow::after{
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 0;
  height: 100%;
  box-shadow: -86px 0 1000px 230px rgba(0, 22, 21, 1);
  z-index: 99;
}

.no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Hide arrows in number input for Firefox */
  .no-spinner {
      -moz-appearance: textfield;
  }

@keyframes slide {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}

.social-icons li a svg path{
  fill: #999;
  transform: all 0.5s fade-in;
}

.social-icons li a.flipkart:hover svg path{
  fill: #F7A200;
}
.social-icons li a.linkdin:hover svg path{
  fill: #0077B5;
}
.social-icons li a.instagram:hover svg path{
  fill : #C13584;
}

.social-icons li a.amazon:hover svg path{
  fill : #FF9900;
}
.social-icons li a.you_tube:hover svg path{
  fill : #FF0000;
}
.social-icons li a.facebook:hover svg path {
fill : #1877F2
}

/* Testimonials CSS start here */
.Marquee {
  width: 100vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  color: #fff;
  font-weight: 200;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.Marquee-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-animation: marquee 20s linear infinite running;
  -moz-animation: marquee 20s linear infinite running;
  -o-animation: marquee 20s linear infinite running;
  -ms-animation: marquee 20s linear infinite running;
  animation: marquee 20s linear infinite running;
}
.Marquee-content:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.Marquee-tag {
  width: 33.33%;
  margin: 0 1em;
  padding: 0;
  background: none;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.Marquee-tag:hover {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  cursor: pointer;
}
@-moz-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@-o-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
/* Testimonials CSS end here */

.c-btn {display: inline-block;
  flex: 1 1 auto; font-size: 0.9rem;
  padding: 0.6rem 1.4rem;
  text-align: center;
  transition: 0.8s;
  background: linear-gradient(
      353deg,
      var(--c1, #f6d365) 17.51% ,
      var(--c2, #fda085) 100%)
      var(--x, 0) / 200%;
  color: white;
  border-radius: 0.5rem;
}


.c-btn:hover {
  --x: 200%; box-shadow: 0 0 10px 0 #fff;
}

.btn-1 {--c1: #198A81; --c2: #23BBAD;}

.btn-2 {--c1: none; --c2: none; border: 1px inset #fff;}

.btn-3 {--c1: #84fab0; --c2: #8fd3f4;}

.btn-4 {--c1: #f6d365; --c2: #fda085;}

.btn-5 {--c1: #ffecd2; --c2: #fcb69f;}

