@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #001615;
  color: #fff;
}

.container {max-width: 100% !important; margin: 0 100px; width: auto;}

.border-before{
  position: relative;
}
.border-before:before{
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  left: -40px;
  z-index: 0;
  border: 1.5px dashed #14A99C;
}


.use-before{
  position: relative;
}

.use-before::before{
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: -50px;
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 99;
}

.line-before:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 1px;
  background: #14A99C;
  z-index: 99;
}

header {}
header .container {border-bottom: 1px solid rgba(255, 255, 255, 0.12); padding: 16px 0;}
header nav ul {border:1px solid rgba(255, 255, 255, 0.08); height: 56px; padding: 10px 0; border-radius: 36px; background: rgba(255, 255, 255, 0.02);}
header nav ul li a {line-height: 36px; height: 36px; border-radius: 36px; padding: 8px 14px;}
header nav ul li a:hover, header nav ul li a.active {background: linear-gradient(102.8deg, rgba(59, 238, 226, 0.1) 0.29%, rgba(5, 161, 148, 0.07) 98.5%); color:#23BBAD;}
header nav ul li a i {background: url('../images/icons/icon-arrow-down.svg') no-repeat; background-size: 100%; width: 11px; height: 7px; margin-left: 4px; display: inline-block; vertical-align: middle;}
header nav ul li a:hover i {background: url('../images/icons/icon-arrow-down-a.svg') no-repeat;}
header nav ul li a.active i {background: url('../images/icons/icon-arrow-down-a.svg') no-repeat; background-size: 100%; width: 11px; height: 7px; margin-left: 4px; display: inline-block; vertical-align: middle;}

.submenus {padding: 34px 0 0 0; position:absolute; top:38px; left:-260px; width:1180px; max-height:400px;}
.submenus .cont {width:100%; background:#fff; padding: 24px;}
.smdiv1, .smdiv2, .smdiv3, .smdiv4, .smdiv5, .smdiv6, .smdiv7 {display:none;}