@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #001615;
  color: #fff;
}
* { transition:all .5s;}

/* Works on Firefox */
*{scrollbar-width:thin; scrollbar-color:#14A99C #000;}
*::-webkit-scrollbar {width:10px;}
*::-webkit-scrollbar-track {background:#000;}
*::-webkit-scrollbar-thumb {background-color:#14A99C; border:0; border-radius:8px;}

.container {max-width: 100% !important; margin: 0 100px; width: auto;}

.border-before{
  position: relative;
}
.border-before:before{
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  left: -40px;
  z-index: 0;
  border: 1.5px dashed #14A99C;
}


.use-before{
  position: relative;
}

.use-before::before{
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: -50px;
  width: 20px;
  height: 20px;
  background: #fff;
  z-index: 99;
}

.line-before:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 1px;
  background: #14A99C;
  z-index: 99;
}

header { position: fixed;top: 0; width: 100%;background-color: #001615;z-index: 999;}
header .container {border-bottom: 1px solid rgba(255, 255, 255, 0.12); padding: 16px 0;}
header nav ul {border:1px solid rgba(255, 255, 255, 0.08); height: 56px; padding: 10px 0; border-radius: 36px; background: rgba(255, 255, 255, 0.02);}
header nav ul li .main-nav {line-height: 36px; height: 36px; border-radius: 36px; padding: 8px 14px;}
header nav ul li .main-nav:hover, header nav ul li .main-nav.active {background: linear-gradient(102.8deg, rgba(59, 238, 226, 0.1) 0.29%, rgba(5, 161, 148, 0.07) 98.5%); color:#23BBAD;}
header nav ul li .main-nav i {background: url('../images/icons/icon-arrow-down.svg') no-repeat; background-size: 100%; width: 11px; height: 7px; margin-left: 4px; display: inline-block; vertical-align: middle;}
header nav ul li .main-nav:hover i {background: url('../images/icons/icon-arrow-down-a.svg') no-repeat;}
header nav ul li .main-nav.active i {background: url('../images/icons/icon-arrow-down-a.svg') no-repeat; background-size: 100%; width: 11px; height: 7px; margin-left: 4px; display: inline-block; vertical-align: middle;}

.submenus {padding: 34px 0 0 0;z-index: 9; position:absolute; top:42px; left:-260px; width:1180px;height: 600px;}
.submenus .cont {width:100%; background:#fff; padding: 24px;}
.submenus .cont ul li { padding: 8px 16px;}
.submenus .cont ul li:hover { background:#F6F6F6;border-radius: 12px;}
.smdiv1, .smdiv2, .smdiv3, .smdiv4, .smdiv5, .smdiv6, .smdiv7 {display:none;}

.menu {cursor:pointer; display:none; position:absolute; width:30px; right:24px; top:24px;}
.menu .bar {background:#23BBAD; height:2px; width:100%; display:block; margin:6px 0;}
.menu .bar1 {background:#23BBAD; height:2px; width:50%; display:block; left:0;}
.menu .bar2 {background:#23BBAD; height:2px; width:50%; display:block; right:0; position:absolute;}
.menu:hover .bar1 {width:100%;}
.menu:hover .bar2 {width:100%;}

.mobmenucont {position:fixed; top:0px; left:-85%; width:85%; z-index:999999; height:100%; background:#000; overflow-y:auto;}
.mlogo img {height:42px;}
.bgm {position:fixed; top:0px; left:0px; width:100%; min-height:100%; height:100%; background:rgba(0,0,0,0.9); z-index:99999; display:none; /*backdrop-filter: saturate(180%) blur(10px); -webkit-backdrop-filter:saturate(180%) blur(10px);*/}
.bgm::before {content:"X"; position:absolute; top:12px; right:15px; color:#23BBAD; font-size:22px; font-weight:300;}
.mobilemenucontent {margin:0; padding:0;}
.closemmenu {cursor:pointer;}


@media (max-width:1023px){
  .container {margin: 0 24px;}
  header nav, .tp-btns {display: none;}
  .menu {display:block;}
}

.owl-carousel .owl-item img {
  width: 48px;
}

.owl-carousel .owl-item img.rounded-2xl.w-full{
  width: 100% !important;
}
.owl-carousel .owl-item a>img{
  width: 24px !important;
}


.inside-shadow::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  box-shadow: 86px 0 1000px 230px rgba(0, 22, 21, 1);
  z-index: 99;
}
.inside-shadow::after{
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 0;
  height: 100%;
  box-shadow: -86px 0 1000px 230px rgba(0, 22, 21, 1);
  z-index: 99;
}

.no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Hide arrows in number input for Firefox */
  .no-spinner {
      -moz-appearance: textfield;
  }

@keyframes slide {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}
.media-container {display: flex;}
.media-container .media-card-item .media-card{display: flex;}
.media-container .media-card-item .media-card .media-card-img{width: 40%;}
.media-container .media-card-item .media-card .media-card-content{width: 60%;}
